@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>APP - USUARIO</h1>
    <p class="lead">Ingreso de usario de sistema de infracciones</p>
    <p><a href="@Url.Action("Usuario", "Usuario")" class="btn btn-primary btn-lg">Usuarios</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>APP de ingreso de usuarios</h2>
        <p>
            Esta es la pagina CRUD para ingresar y consultar usuario del sistema de infracciones de nuestro proyecto.
        </p>
        <p><a class="btn btn-default" href="https://github.com/ing-jul-i-am">Acerca del programador</a></p>
    </div>
</div>